<html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of transaction</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="../js/detailsOfTransaction.js"></script>
    <link rel = "stylesheet"  type = "text/css"  href = "../css/detailsOfTransaction.css" />


</head>
<body>
<%- include ("partials/navContractor.ejs")-%>

<%const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"]%>

<div class ="details">
    <p><%=firstName%> <%=lastName%> wants to hire you</p>
    <%var dt=new Date(date);          dt.setDate( dt.getDate() - 1 ); %>
    <p>on <%= dt.getDate()  %> of <%= monthNames[dt.getMonth()]  %> <%= dt.getFullYear()  %></p>
    <p>at <%=startHour%> till <%=endHour%> </p>
    <p>on job of <%=jobType%></p>
    <p>for more information the employer's email is <%=email%></p>

    <input type="button"  id="acceptButton" value="accept" onclick="myAccept()" class="btn btn-outline-primary"/>
    <input type="button"  id="declineButton" value="decline" onclick="myDecline()" class="btn btn-outline-primary"/>
    <div class="msg"></div>
</div>
<%- include("./partials/footer.ejs") %>

</body>

</html>

