<%- include ("partials/navHR.ejs")-%>
<body style="background-image: url(https://wallpapercave.com/wp/wp7560270.jpg);">
<section >

    <link rel = "stylesheet"  type = "text/css"  href = "../css/monitorHiringHR.css" />
    <!--for demo wrap-->
    <h1>Monitor Hiring</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Worker</th>
                <th>Job type</th>
                <th>Employer</th>
                <th>Date</th>
                <th>Current fee</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <% data.forEach(function(data) { %>
                <tr>
                    <td><%= data.worker%></td>
                    <td><%= data.jobType %></td>
                    <td><%= data.employer %></td>
                    <td><%= (data.date).toLocaleDateString() %></td>
                    <td><%=data.currentFee %></td>
                </tr>

            <% } )%>
            </tbody>
        </table>
    </div>
</section>
</body>
<%- include ("partials/footer.ejs")-%>
</div>

