<!DOCTYPE html>
<html>
<head>
    <%- include ("partials/navHR.ejs")-%>
        <div class="wrapper">
            <div class="header">
                <div class="title">
                    Monitor Hiring
                </div>

                <link rel = "stylesheet"  type = "text/css"  href = "../css/monitorHiringHR.css" />

                <div class="search_box_worker">
                    <input type="text" id="search_input_worker" placeholder="Press here to fliter table using worker mail..." >
                </div>

                <div class="search_box_employer">
                    <input type="text" id="search_input_employer" placeholder="Press here to fliter table using employer mail..." >
                </div>

                <div class="search_box_job_type">
                    <input type="text" id="search_input_job_type" placeholder="Press here to fliter table using job type ..." >
                </div>

            </div>

            <div class="table_wrap">
                <div class="table_header">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="name">
                                    <span>Worker</span>
                                </div>
                                <div class="job-type">
                                    <span>Job type</span>
                                </div>
                                <div class="employer">
                                    <span>Employer</span>
                                </div>
                                <div class="date">
                                    <span>Date</span>
                                </div>
                                <div class="current-fee">
                                    <span>Current fee</span>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="table_body">
                    <ul>
                        <% for(var i=0;i<data.length;i++){ %>

                        <li>
                            <div class="item" id = <%=i%>>
                                <div class="name">
                                    <td><%= data[i].worker%></td>
                                </div>
                                <div class="job-type">
                                    <td><%= data[i].jobType%></td>
                                </div>
                                <div class="employer">
                                    <td><%= data[i].employer %></td>
                                </div>
                                <div class="date">
                                    <td><%= data[i].date.toLocaleDateString() %></td>
                                </div>
                                <div class="current-fee">
                                    <td><%= data[i].currentFee %></td>
                                </div>
                            </div>
                        </li>

                        <% }%>

                    </ul>
                </div>
                <div class="table_footer"></div>
            </div>

        </div>


</head>
<br>

<%- include ("partials/footer.ejs")-%>
</html>

<script>



    var search_input_worker = document.querySelector("#search_input_worker")

    search_input_worker.addEventListener("keyup", function(e){
        var span_items = document.querySelectorAll(".table_body ul li .name")
        var search_item = e.target.value.toLowerCase()

        span_items.forEach(function(item){
            if(item.textContent.toLowerCase().indexOf(search_item) != -1){
                item.closest("li").style.display = "block"
            }
            else{
                item.closest("li").style.display = "none"
            }
        })

    })

    var search_input_employer = document.querySelector("#search_input_employer")

    search_input_employer.addEventListener("keyup", function(e){
        // console.log('jjjjjjjjjjjjjjj')
        var span_items = document.querySelectorAll(".table_body ul li .employer")
        var search_item = e.target.value.toLowerCase()

        span_items.forEach(function(item){
            if(item.textContent.toLowerCase().indexOf(search_item) != -1){
                item.closest("li").style.display = "block"
            }
            else{
                item.closest("li").style.display = "none"
            }
        })

    })

    var search_input_job_type = document.querySelector("#search_input_job_type")

    search_input_job_type.addEventListener("keyup", function(e){
        // console.log('jjjjjjjjjjjjjjj')
        var span_items = document.querySelectorAll(".table_body ul li .job-type")
        var search_item = e.target.value.toLowerCase()

        span_items.forEach(function(item){
            if(item.textContent.toLowerCase().indexOf(search_item) != -1){
                item.closest("li").style.display = "block"
            }
            else{
                item.closest("li").style.display = "none"
            }
        })

    })
</script>