
<%- include ("partials/navContractor.ejs")-%>
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--    <link rel = "stylesheet"  type = "text/css"  href = "../css/homepageContractor.css" />-->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <title>Profile Contractor Details</title>
</head>

<body>
<form action="/profileEmployerDetails"></form>
<h1>Profile Contractor Details</h1>
<hr>
<h3>Email: <%=user.email%></h3>
<h3>First name: <%=user.firstName%></h3>
<h3>Last name: <%=user.lastName%></h3>
<h3>Phone number: <%=user.phoneNumber%></h3>
<h3>Address: <%=user.address.city%>, <%=user.address.street%> <%=user.address.houseNumber%></h3>
<h3>Birthday: <%=user.birthday%></h3>
<h3>Gender: <%=user.gender%></h3>
<h3>Language:</h3>
<h3>Education: <%=user.education%></h3>
<h3>Years of experience: <%=user.experience%></h3>
<h3>Hourly rate: <%=user.hourlyRate%></h3>
<h3>About me: <%=user.aboutMe%></h3>
<h3>Education: <%=user.education%></h3>
<h3>From: <%=user.form101%></h3>
<hr>
<input type=button onClick="parent.location='/profileContractor'" value='Edit your details'>
</form>
<%- include ("partials/footer.ejs")-%>
<script src="..public/js/profileContractorDetails.js"></script>
</body></html>