<%- include ("partials/navContractor.ejs")-%>


<html>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
    <form id="form">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h3>
                                <%=user.firstName%>  <%=user.lastName%> </h3>
                            <p>
                                <i class="glyphicon glyphicon-map-marker"></i> <%=user.address.city%>, <%=user.address.street%> <%=user.address.houseNumber%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-envelope"></i>  <%=user.email%>
                                <br />
                                <br />
                                <i class=" glyphicon glyphicon-earphone"> </i> <%=user.phoneNumber%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-gift"></i> <%= user.birthday %>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-education"></i> <%=user.education%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-check"></i> <%=user.experience%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-euro"></i> <%=user.hourlyRate%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-lock"></i> <%=user.jobs%>
                                <% for(var i=0;i<user.jobTypes.length;++i){%>

                                     <%=user.jobTypes[i].value %>
                                <% } %>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-user"></i> <%=user.gender%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-font"></i>

                                <% for(var i=0;i<user.languages.length;++i){%>

                                    <%=user.languages[i].value %>
                               <% } %>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-fire"></i> <%=user.smoker%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-folder-close"></i>    <%=user.bank.bankName%> , <%=user.bank.branch%>, <%=user.bank.accountNumber%>
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-thumbs-up"></i> <%=user.aboutMe%>
                                <br />
                                <br />

                            </p>

                            <div class="btn-group">

                                <button type="button" name="Edit" id="Edit" onclick="" class="glyphicon glyphicon-pencil">Edit</button>
                                <button type="button" onclick="myDeleteFunction()" class="glyphicon glyphicon-trash">Remove Account</button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<script src="../js/profileContractor.js"></script>

</html>
<%- include ("partials/footer.ejs")-%>
