<html lang="en">
<link rel = "stylesheet"  type = "text/css"  href = "../css/viewEmployeesEmployer.css" />
<head>
    <title>list of <%=typeOfJob%></title>
</head>
<body>
<%- include ("partials/navEmployer.ejs")-%>
//s צריך לעצב כולל לשנות את שמות הקלאס לפי הדרישות להראות לכל עובד את השדות שלו
<div class="contractor content">
    <h2>contractor who are: <%=typeOfJob%></h2>

    <% if (data.length > 0) { %>
        <% data.forEach(con => { %>
            <a class="single" href="/detailsOfContractor/<%=typeOfJob%>+<%= con._id %>">
                <h3 class="title"><%= con.email %></h3>
                <p class="snippet"><%= con.aboutMe.slice(0, 200) %></p>
            </a>
        <% }) %>
    <% } else { %>
        <p>There are no contractors workers to display...</p>
    <% } %>

</div>

<%- include("./partials/footer.ejs") %>
</body>
</html>

