<!DOCTYPE html>

<head>
    <%- include ("partials/navEmployer.ejs")-%>
    <meta charset="UTF-8">
    <link rel = "stylesheet"  type = "text/css"  href = "../css/workingHistoryEmployer.css" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

</head>

<body>
<!--<button class="button" onclick="reloadCurrentPage()"><span>Refresh page</span></button>-->

<div class="row">
    <div class="container">

        <div class="wrapper">
            <div class="header">
                <div class="title">
                    Work History
                </div>
            </div>
        </div>

        <table class="table responsive" id="sort">
            <thead>
            <tr>
                <th scope="col">Contractor</th>
                <th scope="col">JobType</th>
                <th scope="col">Date</th>
                <th scope="col">Rank</th>
                <th scope="col">Fee</th>
            </tr>
            </thead>
            <tbody>

            <% data.forEach(function(data){ %>
                <%if(String(data.idEmployer) == String(user._id)) { %>
                    <tr>
                        <td data-table-header="worker"><%= data.Worker %></td>
                        <td data-table-header="job type"><%= data.JobType %></td>
                        <%var dt=new Date(data.date);          dt.setDate( dt.getDate() - 1 ); %>
                        <td data-table-header="date"><%= dt.toLocaleDateString('en-GB') %></td>

                        <%if(data.Rank==0){%>

<!--                            <td><a href="/homepageEmployer" target="_blank">link text</a></td>-->
                            <td>
                                <a href=<%=String("/rateContractorInEmployer/"+String(JSON.stringify(data.id)))%>>Rank me!</a></li>
                            </td>


                        <%} else if(data.Rank==1){ %>
                            <td id="1"><font color="#ffd700">★</font></td>
                        <% } else if(data.Rank==2) { %>
                            <td id="2"><font color="#ffd700">★</font><font color="#ffd700">★</font></td>
                        <% } else if(data.Rank==3) { %>
                            <td id="3"><font color="#ffd700">★</font><font color="#ffd700">★</font><font color="#ffd700">★</font></td>
                        <% } else if(data.Rank==4) { %>
                            <td id="4"><font color="#ffd700">★</font><font color="#ffd700">★</font><font color="#ffd700">★</font><font color="#ffd700">★</font></td>
                        <% } else if(data.Rank==5) { %>
                            <td id="5"><font color="#ffd700">★</font><font color="#ffd700">★</font><font color="#ffd700">★</font><font color="#ffd700">★</font><font color="#ffd700">★</font></td>
                        <% } %>

                        <td data-table-header="current fee"><%= data.CurrentFee%></td>
                    </tr>
                <%}%>
            <% } )%>

            </tbody>
        </table>
    </div>
</div>


<div class="wrapper">
    <div class="header">
        <div class="title2">
            For watching all non rated contractores please search 'Rank me!' in the search box      <span class="	glyphicon glyphicon-search"></span>
        </div>
    </div>
</div>
<script src="../js/workHistoryEmployer.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'></script>
<script  src="function.js"></script>

</body>

<%- include ("partials/footer.ejs")-%>
</html>

<script>
    $(document).ready(function() {
        $("#sort").DataTable({
            // columnDefs : [
            //     { type : 'date', targets : [3] }
            // ],
            'columnDefs': [{ 'orderable': false, 'targets': 3 }], // hide sort icon on header of third column
        });
    });

    // function reloadCurrentPage()
    // {
    //     window.location.href = "http://127.0.0.1:3000/workHistoryEmployer";
    // }

</script>