<!DOCTYPE html>

<head>
    <%- include ("partials/navEmployer.ejs")-%>
    <meta charset="UTF-8">
    <link rel = "stylesheet"  type = "text/css"  href = "../css/workingHistoryEmployer.css" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

</head>

<body>

<div class="row">
    <div class="container">

        <div class="wrapper">
            <div class="header">
                <div class="title">
                    Work History
                </div>
            </div>
        </div>

        <table class="table responsive" id="sort">
            <thead>
            <tr>
                <th scope="col">Contractor</th>
                <th scope="col">JobType</th>
                <th scope="col">Date</th>
                <th scope="col">Rank</th>
                <th scope="col">Fee</th>
            </tr>
            </thead>
            <tbody>

            <% data.forEach(function(data){ %>
                <%if(String(data.idEmployer) == String(user._id)) { %>
                    <tr>
                        <td data-table-header="worker"><%= data.Worker %></td>
                        <td data-table-header="job type"><%= data.JobType %></td>
                        <td data-table-header="date"><%= data.Date %></td>

                        <%if(data.Rank==0){%>
                            <td><button onclick="rankFunc(<%= JSON.stringify(data.id)%>)" type='button' class='btn btn-primary'>Rate Me!</button></td>
                        <%} else { %>
                            <td data-table-header="rank"><%= data.Rank %></td>
                        <% } %>
                        <td data-table-header="current fee"><%= data.CurrentFee%></td>
                    </tr>
                <%}%>
            <% } )%>

            </tbody>
        </table>
    </div>
</div>

<script src="../js/workHistoryEmployer.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'></script>
<script  src="function.js"></script>

</body>
<%- include ("partials/footer.ejs")-%>
</html>

<script>
    $(document).ready(function() {
        $("#sort").DataTable({
            columnDefs : [
                { type : 'date', targets : [3] }
            ],
        });
    });
</script>